body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgb(52, 117, 126);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}

.greeting {
    float: right;
    font-size: 1.1em;
    margin-top: 10px;
}

h2 {
    color: #ffffff;
}

form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(52, 117, 126);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(52, 117, 126);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.no-results {
    text-align: center;
    font-style: italic;
}