body {
  font-family: Arial, sans-serif;
  background-image: url(1296567.jpg);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(1296567.jpg);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.form-box {
  background-color: rgba(255, 255, 255, 0.418); 
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 330px;
  height: 10%;
  text-align: center;
  backdrop-filter: blur(20px); 
}

form {
  margin-top: -90px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0078f8;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.msg {
  margin-top: 10px;
  color: red;
}


.form-box {
  background-color: rgba(255, 255, 255, 0.418); /* Semi-transparent background */
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 330px;
  height: 10%;
  text-align: center;
  backdrop-filter: blur(20px); /* Apply blur effect */
}

form {
  margin-top: -90px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0078f8;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.msg {
  margin-top: 10px;
  color: red;
}
